.title {
  margin: 20px 0 20px 0;
}
h1{  
  font-size: 20px;
}
.icon {
  text-decoration: none;
  color: rgb(85, 75, 75);
  margin: 10px;
}
.details-main {
  display: flex;
  flex-direction: row;
}
.jobs {
  width: 50vw;
}
.introduction {
  width: 50vw;
}
.admission {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}