.bot {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.share-space {
  font-size: 40px;
  text-decoration: none;
  color: #000;
}
.bot-content {
  width: 50vw;
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.NEW {
  color: red;
}
.bot-content:before, .bot-content:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.bot-content:before {left: 10px;}
.bot-content:after {right: 10px;}
.bot-content p {
  margin: 0; 
  padding: 0;
}
.bot-text {
  font-size: 30px;
}
.book {
  color: rgb(108, 108, 247);
  font-size: 20px;
}
.last {
  color: rgb(252, 84, 84);
}

#slide, #slide2, #slide3, #slide4, #slide5 {
  width:300px;
  height:200px;
  margin:0 auto;
  position:relative;
}
#slide img {
  position:absolute;
  left:0;
  top:0;
}
#slide2 img {
  position:absolute;
  left:0;
  top:0;
}
/* QRコードを中央に寄せる為 */
#slide2 .position {
  position:absolute;
  left:17%;
  top:0;
}
#slide3 img {
  position:absolute;
  left:0;
  top:0;
}
#slide4 img {
  position:absolute;
  left:0;
  top:0;
}
#slide5 img {
  position:absolute;
  left:0;
  top:0;
}
/* URLアニメーション */
.share-space {
  padding: 0 .3em;
  background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(162, 110, 192, 1) 50%);
  background-position: 0 0;
  background-size: auto 200%;
  transition: .3s;
}
.share-space:hover {
  background-position: 0 100%;
  color: #fff;
  border-radius: 5px;
}