<div class="main">
  <div class="holder">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    <div class="txt">
      <div class="header">
        <ul class="header-text">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">App</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      <h1>Welcome</h1>
      <p>Kazunari Takahashi</p>
  </div>
  </div>