<div class="main">
  <div class="bg-video-wrap">
      <video src="https://designsupply-web.com/samplecontent/vender/codepen/20181014.mp4" loop muted autoplay>
      </video>
      <div class="overlay">
      </div>
      <h1>Fullscreen video background
      </h1>
    </div>
  <div class="header">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
      <a href="#">Profile</a>
      </li>
      <li>
      <a href="#">App</a>
      </li>
      <li>
      <a href="#">Contact</a>
      </li>
    </ul>