<div class="holder">
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
    <p class="change">test </p>
    <p class="change2">Kazunari Takahashi Profile</p>
    <p class="change3">ご貴重な時間を頂きありがとうございます。</p>
    <p class="change4">よろしければ最後まで見てください。</p>
  </div>
</div>