<div class="holder">
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
    <h1>Welcome</h1>
    <p>Kazunari Takahashi Profile </p>
  </div>
</div>