<div class="profile-main">
  <div class="title">
    <h1>Kazunari Takahashi</h1>
  </div>
  <div class="my-image">
    <%= image_tag '/my.jpeg', :size => "200x200" %>
    <p>Age: 26</p>
  </div>
  <a class="icon", href="https://github.com/kazunari0220">
    <i class="fab fa-github-square fa-3x", id="spin" ></i>
  </a>
  <a class="icon", href="https://twitter.com/nariprogramming">
    <i class="fab fa-twitter-square fa-3x", id="spin2" ></i>
  </a>
  <div class="skill">
    <h2>skill</h2>
    <h3>フロント</h3>
    <ul>
      <li>Html</li>
      <li>css</i>
      <li>Haml</li>
      <li>scss</li>
      <li>JavaScript</li>
      <li>jQuery</li>
    </ul>
    <h3>サーバー</h3>
    <ul>
      <li>Ruby</li>
    </ul>
    <h3>フレームワーク</h3>
    <ul>
      <li>Ruby on Rails</li>
    </ul>
    <h3>データーベース</h3>
    <ul>
      <li>mysql</li>
      <li>sequelPro</li>
    </ul>
    <h3>その他</h3>
    <ul>
      <li>Git</li>
      <li>GitHub</li>
      <li>AWS</li>
      <li>Heroku</li>
    </ul>
  </div>
</div>
<div class="details-main">
  <div class="jobs">
    <h2>職歴</h2>
    <h3>株式会社YAMANAKA</h3>
    <h4>♦︎主な担当</h4>
    <ul>
      <li>・製銅原料加工処理担当<br>【成果】</li>
    </ul>
    <div class="admission">
      <ul>
        <li>無事故でクレーン作業を遂行<br>→日々安全に気を配りながら運転を実現</li>
      </ul>
    </div>
    <h2>↓4年後↓</h2>
    <h3>株式会社モリ・エンタープライズ</h3>
    <h4>♦︎主な担当</h4>
    <ul>
      <li>・葬儀返礼品の運搬、積み込み<br>【成果】
    </ul>
    <div class="admission">
      <ul>
        <li>お客様より一度もクレームをもらう事なく業務に従事。<br>→運搬する商品の取り扱いや言葉使いなどを慎重に対応
        <br>→安全を配慮した運搬
        </li>
      </ul>
    </div>
    <h2>退職後</h2>
    <h3>プログラミンングスクール</h3>
    <h4>入学理由</h4>
    <div class="admission">
      <ul>
        <li>前職ではLINEのグループ機能のおかげで情報共有が楽になり、<br>業務をスムーズに進めることができたことで、<br>私も人々に役立つサービスを作る側になりたいと思い、<br>プログラミングに興味を持ちました。<br>
        そこで、インターネットで調べてたところオンラインで勉強できるProgateを知り、<br>少し触ってみたところ自分自身が書いたコードでシステムが動くことに感動し、<br>より興味を持ち本格的に転職を考え<br>テックキャンプ（アウトプット重視の600時間のカリキュラム）への通学を決意しました。
        </li>
      <ul>
    </div>
    <h4>【成果】</h4>
    <div class="admission">
        <li>
        下記に記載した開発言語を10週間かけて学びました。<br>スクールでは、同じ目標を持つ仲間と切磋琢磨して楽しみながら学習していました。<br>チーム開発では、スクラムマスターを努めましてメンバーが楽しく話しやすい環境を作りました。    
        </li>
      </ul>
    </div>
  </div>
  <div class="introduction">
    <h2>紹介文</h2>
    <h3>挑戦したい事</h3>
    <div class="admission">
      <ul>
        <li>
        ・フロントエンド。バックエンドも経験したいと思います。<br>
        ・Rubyを学んでいますが一つの言語に囚われず他の言語も学び常に新しい情報を取り入れていきたいと思います。<br>
        ・1を10にできるように経験を積み、経験を元にアイデア出して０から１を生み出せるようなエンジニアを目指します。
        </li>
      <ul>
    </div>
    <h3>1年後</h3>
    <div class="admission">
      <ul>
        <li>
        ・エンジニアとして必須の知識やスキルの取得。<br>プロジェクトに関わり必要な技術のスキルアップ！
        </li>
      <ul>
    </div>
    <h3>3年後</h3>
    <div class="admission">
      <ul>
        <li>
        ・プロジェクトリーダーになり、メンバーと楽しく業務に取り組める環境を作る。
        </li>
      <ul>
    </div>
    <h3>5年後</h3>
    <div class="admission">
      <ul>
        <li>
        ・フルスタックエンジニアなります。
        しかし、エンジニアとしての技術力だけでなくチームをマネジメントできて結果を残せる様な人材になりたいと思います。
        </li>
      <ul>
    </div>
    <h2>連絡先</h2>
    <div class="admission">
      <ul>
        <li>
        電話番号：080-5006-4871<br>
        メールアドレス：m.takahashi.kazunari@gmail.com<br>
        </li>
      <ul>
    </div>
  </div>
</div>