<div class="profile-main">
  <div class="title">
    <h1>Kazunari Takahashi</h1>
  </div>
  <div class="my-image">
    <%= image_tag '/my.jpeg', :size => "200x200" %>
    <p>Age: 26</p>
  </div>
  <a class="icon", href="https://github.com/kazunari0220">
    <i class="fab fa-github-square fa-3x", id="spin" ></i>
  </a>
  <a class="icon", href="https://twitter.com/nariprogramming">
    <i class="fab fa-twitter-square fa-3x", id="spin2" ></i>
  </a>
  <div class="skill">
    <h2>skill</h2>
    <h3>フロント</h3>
    <ul>
      <li>Html</li>
      <li>css</i>
      <li>Haml</li>
      <li>scss</li>
      <li>JavaScript</li>
      <li>jQuery</li>
    </ul>
    <h3>サーバー</h3>
    <ul>
      <li>Ruby</li>
    </ul>
    <h3>フレームワーク</h3>
    <ul>
      <li>Ruby on Rails</li>
    </ul>
    <h3>データーベース</h3>
    <ul>
      <li>mysql</li>
      <li>sequelPro</li>
    </ul>
    <h3>その他</h3>
    <ul>
      <li>Git</li>
      <li>GitHub</li>
      <li>AWS</li>
      <li>Heroku</li>
    </ul>
  </div>
</div>