<div class="title">
  <h1>Portfolio</h1>
</div>
<div class="app">
  <div class="app-content">
  <a class="share-space", href="https://share-space0220.herokuapp.com/">share-space</a>
  <p>プログラミングに対する投稿アプリです。</p>
  </div>
</div>
<div class="bot">
  <div class="bot-content">
    <h2 class="bot-text">名言bot</h2>
    <%= image_tag '/bot.jpeg', :size => "200x200" %>
    <p>line botです。<br>メッセージを送るとランダムで偉人の名言が返ってきます。</p>
  </div>
</div>
