<div class="title">
  <h1>Portfolio</h1>
</div>
<div class="bot">
  <div class="bot-content">
    <a class="share-space", href="https://share-space0220.herokuapp.com/">share-space</a>
    <div id="slide">
      <ul>
      <li><img src="appimage/share-space.png", width="300" height="200"></li>
      <li><img src="appimage/share-space2.png", width="300" height="200"></li>
      <li><img src="appimage/share-space3.png", width="300" height="200"></li>
      </ul>
    </div>
    <p>初めて開発した。プログラミングに関する投稿アプリです。
    <br>日々学んだ事をアウトプットできたらいいなと思い作りました。
    <h3>苦労した所</h3>
    <p>サーバーサイドのIDの取得に苦労しました。</p>
    <h3>今後実装したい事</h3>
    <p>いいね機能やSNS認証機能など実装していきます。</p>
    <h3>成長したと思う事</h3>
    <p>スクールで学んだ事を再認識できて、全体的な流れを理解する事ができました。
    <br>
    </p>
  </div>
</div>
<div class="bot">
  <div class="bot-content">
    <h2 class="bot-text">名言bot</h2>
    <div id="slide2">
      <ul>
      <li><img  class="position", src="appimage/bot.jpeg", width="200" height="200"></li>
      <li><img src="appimage/linebot.png", width="300" height="200"></li>
      <li><img src="appimage/linebot2.png", width="300" height="200"></li>
      </ul>
    </div>
    <p>line botです。
    <br>メッセージを送るとランダムで偉人の名言が返ってきます。
    <br><span class="book">「心が強くなる奇跡の絶景と運命を変えることば」</span>
    <br>という綺麗な風景画と偉人の言葉が書かれているお気に入りの書籍を読んでいまして、linebotで気軽に言葉を見たいと思い作りました。
    </p>
    <h3>苦労した所</h3>
    <p>APIを使う所に苦労しましたが、検索力で解決しました。</p>
    <h3>今後実装したい事</h3>
    <p>今後は、書籍に近づける様に風景画も表示されるようにしたいと思います。</p>
    <h3>成長したと思う事</h3>
    <p>APIに関する知識が身につきました。配列に関しての知識も再認識しました。</p>
  </div>
</div>
<div class="bot">
  <div class="bot-content">
    <a class="share-space", href="http://54.248.22.135/">fleamarket</a>
    <div id="slide3">
      <ul>
      <li><img src="appimage/furima.png", width="300" height="200"></li>
      <li><img src="appimage/furima2.png", width="300" height="200"></li>
      <li><img src="appimage/furima3.png", width="300" height="200"></li>
      <li><img src="appimage/furima4.png", width="300" height="200"></li>
      </ul>
    </div>
    <p>フリマアプリです。
    <br>チームで開発しました。
    <br>パスワードと詳細はREADMEにあります。</p>
    <h3>苦労した所</h3>
    <p>初めてのチーム開発でした。
    <br>マージした時のコンフリクトの解消の仕方やPAY.jpの実装に苦労しました。</p>
    <h3>成長したと思う事</h3>
    <p>スクラムマスターを担当しまして、幅広い年齢層の中まとめていました。
    <br>ZOOMを利用したMTGを小まめにする事で、全員の状況を共有して
    <br>わからない事は、チームで助け合いました。
    <br>エンジニアは個の技術力も大切ですが、人間性も大切だと思いました。
    </p>
  </div>
</div>
<div class="bot">
  <div class="bot-content">
    <a class="share-space", href="http://175.41.234.150">my-page</a>
    <div id="slide4">
      <ul>
      <li><img src="appimage/my2.png", width="300" height="200"></li>
      <li><img src="appimage/my3.png", width="300" height="200"></li>
      </ul>
    </div>
    <p>私の自己紹介サイトです。
    <br>ruby.rails.HTML.CSS.JavaScript.jQuery
    <br>を使用して作りました。
    <br>他のアプリはHerokuを使用していますが、
    <br>知識を深める為にAWSでデプロイしました。
    </p>
  </div>
</div>
<h1 class="last">
  今後も日々学習して技術を身に付けて新しいアプリを作っていきます。
  <br>最後まで見て頂きありがとうございました。
  </h1>
</div>

<script src="./bubbly-bg.js"></script>
<script>
bubbly({
  blur:0.1, //ぼかし
  colorStart: '#fff', //背景グラデーション始まりの色
  colorStop: '#fff', //背景グラデーション終わりの色
  radiusFunc:() => Math.random() * 100, //大きさ
  velocityFunc:() => Math.random() * 1, //速さ 
  bubbleFunc:() => `hsla(${140 + Math.random() * 20}, 100%, 90%, 0.1)`, //色彩
  shadowColor: '#483d8b',
  bubbles:5,
  compose: 'source-over',
});
</script>
